# AWS Credentials (IAM kullanıcısı)
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AWS_REGION=eu-central-1

# S3 Bucket Adı (kendi bucket adınızı yazın)
S3_BUCKET_NAME=proje6-rekognition-HESAP_ID_NIZI_YAZIN
